---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% comment %}
  <span class="post-date">{{ post.date | date_to_string }}</span>
  {% endcomment %}
  {{ content }}
</div>
 <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'jmilnedev'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    {% capture post_date %}{{ post.date | date: '%s' }}{% endcapture %}
    {% capture site_time %}{{ site.time | date: '%s' }}{% endcapture %}
    {% if post_date < site_time %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            {% comment %}
            <small>{{ post.date | date_to_string }}</small>
            {% endcomment %}
          </a>
        </h3>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
